@model Actor

<div class="row text">
	<div class="col-md-7 offset-4">
		<img class="rounded-circle" src="@Model.ProfilePictureUrl" alt="image" style="max-width:250px">
		<br />
		<div>
			<h5>@Model.FullName</h5>
			<p>@Model.Bio</p>
			@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
			{
				<a class="btn btn-danger"
			   asp-action="Delete"
			   asp-controller="Actor"
			   asp-route-id="@Model.Id"
				 onclick="ConfirmDelete()">Delete</a>
			}
		</div>
	</div>
</div>

@*<div class="card" style="width:20rem;margin:20px 550px 24px 550px">
	<img class="card-img-top" src="@Model.ProfilePictureUrl" alt="image" style="width:100%">
	<div class="card-body">
		<h3 class="card-title">@Model.FullName</h3>
		<p class="card-text">@Model.Bio</p>
		@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
		{
			<a class="btn btn-danger"
		   asp-action="Delete"
		   asp-controller="Actor"
		   asp-route-id="@Model.Id"
		 onclick="ConfirmDelete()">Delete</a>
		}
		
	</div>
</div>*@

<script>
	function ConfirmDelete() {
		document.getElementById("");
		var accept = confirm("Are You Sure?");
		if (accept == false) {
			event.preventDefault();
		}
	}
</script>